<table mat-table
       [dataSource]="dataSource" multiTemplateDataRows
       class="mat-elevation-z8">
  <ng-container matColumnDef="naziv">
    <th mat-header-cell *matHeaderCellDef> Naziv </th>
    <td mat-cell *matCellDef="let element"> {{element.naziv}} </td>
  </ng-container>

  <ng-container matColumnDef="cena">
    <th mat-header-cell *matHeaderCellDef> Cena </th>
    <td mat-cell *matCellDef="let element"> {{element.cena}}din </td>
  </ng-container>

  <ng-container matColumnDef="ocena">
    <th mat-header-cell *matHeaderCellDef> Ocena </th>
    <td mat-cell *matCellDef="let element"> 
      <span *ngIf="element.ocena == -1;else elseOcenaMini">
        Nije ocenjen
      </span>
      <ng-template #elseOcenaMini>{{element.ocena}}</ng-template>
    </td>
  </ng-container>

  <ng-container matColumnDef="expand">
    <th mat-header-cell *matHeaderCellDef aria-label="row actions">&nbsp;</th>
    <td mat-cell *matCellDef="let element">
      <button mat-icon-button aria-label="expand row" (click)="(expandedElement = expandedElement === element ? null : element); $event.stopPropagation()">
        <mat-icon *ngIf="expandedElement !== element">keyboard_arrow_down</mat-icon>
        <mat-icon *ngIf="expandedElement === element">keyboard_arrow_up</mat-icon>
      </button>
    </td>
  </ng-container>

  <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
  <ng-container matColumnDef="expandedDetail">
    <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplayWithExpand.length">
      <div class="example-element-detail"
           [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
        <table style="width: 100%;">
          <tr>
            <td style="width: 10%;text-align: center;">
              <img *ngIf="mapa.get(element.serijskiBroj)?.name==='nema'; else elseBlockSlika" src="https://upload.wikimedia.org/wikipedia/commons/2/25/Icon-round-Question_mark.jpg" alt="Girl in a jacket" width="100" height="60">
              <ng-template #elseBlockSlika>
                <img [src]="mapa.get(element.serijskiBroj)?.retrievedImage" width="100" height="60">
              </ng-template>
            </td>
            <td>
              Naziv : {{element.naziv}} <br> 
              Cena : {{element.cena - (element.cena*element.akcija/100)}}din <br>
              <span *ngIf="element.akcija>0; else elseBlock">  
                  Akcija : {{element.akcija}}%
              </span>
              <ng-template #elseBlock>Nema akcije</ng-template>
              <span *ngIf="getRole()==='ROLE_PRODAVAC'"> <br>
                Broj kupljenih produkata : {{element.brojProdato}}
              </span>
            </td>
            <td>
              Deskripcija : {{element.deskripcija}}
            </td>
            <td style="text-align: right;">

              <span *ngIf="element.odobrenOdProdavca && element.odobrenOdAdmina && getRole()==='ROLE_MUSTERIJA'; else elseKupi">
                <button mat-raised-button color="accent" (click)="idiNaProdukt(element.serijskiBroj)">Idi na produkt</button>&nbsp;&nbsp;
              </span>
              <ng-template #elseKupi>
                <span *ngIf="getRole()==='ROLE_MUSTERIJA'">Ovaj produkt je povučen</span>
              </ng-template>
              
              <button mat-raised-button color="accent" (click)="idiNaProdukt(element.serijskiBroj)" *ngIf="getRole()!=='ROLE_MUSTERIJA'">Idi na produkt</button>&nbsp;&nbsp;
              <br>
              <span *ngIf="element.odobrenOdAdmina && getRole()==='ROLE_ADMIN'">
                <br>
                <button mat-raised-button color="warn" (click)="povuciAdmin(element.serijskiBroj);element.odobrenOdAdmina=!element.odobrenOdAdmina">Povuci</button>&nbsp;&nbsp;
              </span>

              <span *ngIf="element.odobrenOdProdavca && getRole()==='ROLE_PRODAVAC'">
                <br>
                <button mat-raised-button color="warn" (click)="povuciProdavac(element.serijskiBroj);element.odobrenOdProdavca=!element.odobrenOdProdavca">Povuci</button>&nbsp;&nbsp;
              </span>

              <span *ngIf="!element.odobrenOdAdmina && getRole()==='ROLE_ADMIN'">
                <br>
                <button mat-raised-button color="accent" (click)="vratiAdmin(element.serijskiBroj);element.odobrenOdAdmina=!element.odobrenOdAdmina">Vrati</button>&nbsp;&nbsp;
              </span>

              <span *ngIf="!element.odobrenOdProdavca && getRole()==='ROLE_PRODAVAC'">
                <br>
                <button mat-raised-button color="accent" (click)="vratiProdavac(element.serijskiBroj);element.odobrenOdProdavca=!element.odobrenOdProdavca">Vrati</button>&nbsp;&nbsp;
              </span>
              <br>

              <span *ngIf="getRole()==='ROLE_PRODAVAC'">
                <br>
                <button mat-raised-button color="accent" (click)="open(AkcijaProzor);serijskiBroj = element.serijskiBroj;">Postavi akciju</button>&nbsp;&nbsp;
                <br><br>
                <button type="button" mat-raised-button color="accent" (click)="edit(element.serijskiBroj)">Edit produkta</button>&nbsp;&nbsp;
              </span>

            </td>
          </tr>
        </table>
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnsToDisplayWithExpand"></tr>
  <tr mat-row *matRowDef="let element; columns: columnsToDisplayWithExpand;"
      class="example-element-row"
      [class.example-expanded-row]="expandedElement === element"
      (click)="expandedElement = expandedElement === element ? null : element">
  </tr>
  <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
</table>

<ng-template #AkcijaProzor let-modal>
  <div class="modal-header">
      <h4 class="modal-title" 
          id="modal-basic-title">
          Akcija
      </h4>
      <button type="button" class="close"
              aria-label="Close" (click)=
              "modal.dismiss('Cross click')">

          <span aria-hidden="true">
              ×
          </span>
      </button>
  </div>
  <form>
      <div class="modal-body">
              <div class="form-group">
                  <div class="input-group">
                    <mat-form-field appearance="fill"  [style.height.px]=65>
                      <input matInput class="form-control" [formControl] = "akcijaFormControl" required>
                      <mat-error *ngIf="akcijaFormControl.invalid">{{getErrorMessage(akcijaFormControl)}}</mat-error>
                    </mat-form-field> 
                  </div>
              </div>
      </div>
      <div [ngClass]="['modal-footer','form-group']">
        <button type="button" mat-raised-button color="accent"(click)="dodajAkciju();modal.close('Save click')"
        [disabled]="akcijaFormControl.invalid">Postavi akciju</button>
      </div>
  </form>
</ng-template>
