<mat-drawer-container  style="height: 120vh;" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side" opened>
      <p style="font-size: 25px;">Pretraga</p>

      <mat-divider></mat-divider> <br>

      <form [formGroup]="filterForm" (ngSubmit)="filters()">

        <button type="button" mat-raised-button color="accent"  style="height: 28px;width: 250px;font-size: 15px;" (click)="open(OcenaProzor)">Ocene</button>

        <br> <br><mat-divider></mat-divider> <br>

        Datum <br>Od
        <mat-form-field>
            <mat-label>Izberite datum</mat-label>
            <input matInput [matDatepicker]="picker" formControlName = "odDatum">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <br>Do
        <mat-form-field>
            <mat-label>Izberite datum</mat-label>
            <input matInput [matDatepicker]="picker2" formControlName = "doDatum">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
        </mat-form-field>

        <br> <br><mat-divider></mat-divider> <br>

        <button type="submit" mat-raised-button color="primary"  style="height: 50px;width: 250px;font-size: 15px;" 
        [mtBasicSpinner]="status" [hideText]="status">Pretraži</button>

        <br> <br><mat-divider></mat-divider> <br>

        <button type="button" mat-raised-button color="warn"  style="height: 50px;width: 250px;font-size: 15px;" (click)="resetuj()" 
        [mtBasicSpinner]="status2" [hideText]="status2">Resetuj</button>
      </form>

    </mat-drawer>
  
    <div class="example-sidenav-content">
      <div>
        <app-tabela-recenzija [listaRecenzija]="lista"></app-tabela-recenzija>
      </div>
      <br>
      <div style="text-align: center;">
        <app-pagination [totalItems]="totalSize" [pageSize]="pageSize" (pageSelected)="changePage($event)">
          
        </app-pagination>
      </div>  
    </div>
</mat-drawer-container>

<ng-template #OcenaProzor let-modal>
    <div class="modal-header">
        <h4 class="modal-title" 
            id="modal-basic-title">
            Ocene
        </h4>
        <button type="button" class="close"
                aria-label="Close" (click)=
                "modal.dismiss('Cross click')">
  
            <span aria-hidden="true">
                ×
            </span>
        </button>
    </div>
    <form [formGroup]="filterForm">
        <div class="modal-body">
                <div class="form-group">
                    <div class="input-group" formArrayName="ocene">
                        <div *ngFor="let ocena of ocene.controls; let i=index">
                          <div  [formGroupName]="i">
                            <mat-checkbox formControlName="ocena" color="accent">{{listaOcena[i]}}</mat-checkbox>
                          </div>
                        </div>
                    </div>
                </div>
        </div>
        <div [ngClass]="['modal-footer','form-group']">
          <button (click)="modal.close('Save click')">Sačuvaj</button>
        </div>
    </form>
  </ng-template>