<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <ng-container matColumnDef="konacnaCena">
    <th mat-header-cell *matHeaderCellDef> Konačna cena računa </th>
    <td mat-cell *matCellDef="let element"> {{element.konacnaCena}}din </td>
  </ng-container>

  <ng-container matColumnDef="datumKreiranja">
    <th mat-header-cell *matHeaderCellDef> Datum kreiranja računa </th>
    <td mat-cell *matCellDef="let element"> {{element.datumKreiranja | date:'dd.MM.yyyy HH:mm'}} </td>
  </ng-container>

  <ng-container matColumnDef="idiNaRacun">
    <th mat-header-cell *matHeaderCellDef> Idi na račun </th>
    <td mat-cell *matCellDef="let element">
      <button mat-raised-button color="warn" (click)="idiNaIndividualniRacun(element.brojRacuna)">Idi na račun</button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
</table>