<br>
<h2>&nbsp;&nbsp;&nbsp;&nbsp;{{produkt.naziv}}</h2>
<mat-chip-listbox aria-label="Fish selection">
    <mat-chip *ngFor="let tip of produkt.listaTipova" color="accent">{{tip.naziv}}</mat-chip>
</mat-chip-listbox>
 
<table style="text-align: center;width: 100%;border: 1px solid;">
    <tr>
        <td>
            <img *ngIf="produkt.slika.name==='nema'; else elseBlockSlika" src="https://upload.wikimedia.org/wikipedia/commons/2/25/Icon-round-Question_mark.jpg" alt="Girl in a jacket" width="600" height="400">
            <ng-template #elseBlockSlika>
            <img [src]="retrievedImage" width="600" height="400">
            </ng-template>
        </td>
        <td>
            <form *ngIf="produkt.odobrenOdAdmina && getRole()==='ROLE_MUSTERIJA'">
                Količina <br>
                <mat-form-field appearance="fill"  [style.height.px]=65>
                    <input matInput class="form-control" [formControl] = "kolicinaFormControl" required>
                    <mat-error *ngIf="kolicinaFormControl.invalid">{{getErrorMessage(kolicinaFormControl)}}</mat-error>
                  </mat-form-field> 
                  <br> <br>
                <button type="button" mat-raised-button color="accent"
                [mtBasicSpinner]="status" [hideText]="status" (click)="dodajUKorpu()"
                [disabled]="kolicinaFormControl.invalid">Dodaj u korpu</button> 
                
            </form>

            <br> <br>

            <button type="button" mat-raised-button *ngIf="getRole()==='ROLE_MUSTERIJA' && !daLiJeUWishlist"
            [mtBasicSpinner]="status2" [hideText]="status2" 
            (click)="dodajUWishlist()" >Dodaj u wishlist</button> 

            <button type="button" mat-raised-button *ngIf="getRole()==='ROLE_MUSTERIJA' && daLiJeUWishlist"
            [mtBasicSpinner]="status2" [hideText]="status2" color="warn"
            (click)="izbaciIzWishlista()">Ukloni iz wishlist-a</button>

            <br> <br>

            <button type="button" mat-raised-button *ngIf="getRole()==='ROLE_MUSTERIJA' && daLiJeUIstorijiKupovine && !daLiJeVecNapravljenaRecenzija" (click)="open(RecenzijaProzor)"
             color="accent">Napravi recenziju za ovaj produkt</button> 

            <button type="button" mat-raised-button *ngIf="getRole()==='ROLE_MUSTERIJA' && daLiJeUIstorijiKupovine && daLiJeVecNapravljenaRecenzija" (click)="open(RecenzijaProzor)"
            color="accent">Edituj recenziju</button> 
            <br> <br>

            <!--
            <button type="button" mat-raised-button color="accent" *ngIf="getRole()==='ROLE_PRODAVAC'" (click)="edit()">Edit</button> <br><br>
            <span *ngIf="getRole()==='ROLE_PRODAVAC'">
                <button type="button" mat-raised-button color="warn" *ngIf="produkt.odobrenOdProdavca" (click)="povuciProdavac()">Povuci</button>
                <button type="button" mat-raised-button color="accent" *ngIf="!produkt.odobrenOdProdavca" (click)="vratiProdavac()">Vrati</button>
            </span>

            <span *ngIf="getRole()==='ROLE_ADMIN'">
                <button type="button" mat-raised-button color="warn" *ngIf="produkt.odobrenOdAdmina" (click)="povuciAdmin()">Povuci</button>
                <button type="button" mat-raised-button color="accent" *ngIf="!produkt.odobrenOdAdmina" (click)="vratiAdmin()">Vrati</button>
            </span>
            -->
        </td>
    </tr>
</table>
<br>
<mat-tab-group dynamicHeight>
    <mat-tab label="Deskripcija">
        <div style="text-align: center;">
            <p *ngIf="produkt.ocena>0">Ocena : &nbsp; {{produkt.ocena}}</p>
            <p *ngIf="produkt.ocena==-1">Ovaj produkt nema recenzije</p>
            <p>Cena : &nbsp; {{produkt.cena}}</p>
            <h3>Deskripcija</h3>
            <p>
                {{produkt.deskripcija}}
            </p>
        </div>
    </mat-tab>
    <mat-tab label="Recenzije">

            <p style="font-size: 25px;text-align: center;">Pretraga</p>
            <div style="text-align: center;">
                <button type="button" mat-raised-button color="primary" (click)="open(OcenaProzor)" [mtBasicSpinner]="status3" [hideText]="status3" >Filter</button>&nbsp;&nbsp;
        
                <button type="button" mat-raised-button color="warn" (click)="resetuj()">Resetuj</button>
            </div>
            <div>
            <app-recenzija-table [listaRecenzija]="lista"></app-recenzija-table>
            </div>
            <br>
            <div style="text-align: center;">
            <app-pagination [totalItems]="totalSize" [pageSize]="pageSize" (pageSelected)="changePage($event)">
                
            </app-pagination>
        </div>
    </mat-tab>
</mat-tab-group>

<ng-template #OcenaProzor let-modal>
    <div class="modal-header">
        <h4 class="modal-title" 
            id="modal-basic-title">
            Filtriraj Po Ocenama
        </h4>
        <button type="button" class="close"
                aria-label="Close" (click)=
                "modal.dismiss('Cross click')">
  
            <span aria-hidden="true">
                ×
            </span>
        </button>
    </div>
    <form [formGroup]="ocenaForm">
        <div class="modal-body">
                <div class="form-group">
                    <div class="input-group" formArrayName="ocene">
                        <div *ngFor="let ocena of ocene.controls; let i=index">
                          <div  [formGroupName]="i">
                            <mat-checkbox formControlName="ocena" color="accent">{{listaOcena[i]}}</mat-checkbox>
                          </div>
                        </div>
                    </div>
                </div>
        </div>
        <div [ngClass]="['modal-footer','form-group']">
            <button  mat-raised-button type="submit"
                  color="accent" 
                  (click)="modal.close('Save click');filters();">
                  Filtriraj
              </button>
        </div>
    </form>
  </ng-template>

<ng-template #RecenzijaProzor let-modal>

    <div class="modal-header">
      <h4 class="modal-title" 
          id="modal-basic-title">
          Recenzija
      </h4>
      <button type="button" class="close"
              aria-label="Close" (click)=
              "modal.dismiss('Cross click')">
          <span aria-hidden="true">
              ×
          </span>
      </button>
  </div>

  <form [formGroup]="recenzijaFrom" (ngSubmit)="operacijeRecenzije()">
    <div class="modal-body">

      <div class="input-group">
        <mat-form-field>
            <mat-label>Ocena</mat-label>
            <select matNativeControl formControlName = "ocena" required>
                <option *ngFor="let oce of listaOcena" [value]="oce">
                    {{oce}}
                </option>
              </select>
            <mat-hint>Ocena produkta</mat-hint>
          </mat-form-field>
      </div>

      <div class="input-group"><br></div>

      <div class="input-group">
        <mat-form-field appearance="outline">
            <mat-label>Unesite razlog</mat-label>
            <textarea matInput placeholder="Razlog" class="form-control" formControlName = "komentar" required></textarea>
            <button type="button" matSuffix mat-icon-button aria-label="Clear" (click)="recenzijaFrom.controls.komentar.setValue('')">
              <mat-icon>close</mat-icon>
            </button>
            <mat-error *ngIf="recenzijaFrom.controls.komentar.invalid">{{getErrorMessage(recenzijaFrom.controls.komentar)}}</mat-error>
            <mat-hint>Razlog zašto je data ocena</mat-hint>
        </mat-form-field>
      </div>
      
    </div>

    <div class="modal-footer">
      <button  mat-raised-button type="submit"
                  color="accent" 
                  (click)="modal.close('Save click')"  [disabled]="recenzijaFrom.invalid">
                  <span *ngIf="daLiJeVecNapravljenaRecenzija; else elseBlock">
                    Promeni recenziju
                  </span>
                  <ng-template #elseBlock>Napravi recenziju</ng-template>
              </button>
    </div>

  </form >
    
  </ng-template>