<mat-tab-group>
    <mat-tab label="Istorija kupovine">
        <app-lista-produkt-page [svrha]="'IstorijaProdukata'">

        </app-lista-produkt-page>
    </mat-tab>
    <mat-tab label="Wishlist">
        <app-lista-produkt-page [svrha]="'Wishlist'">
            
        </app-lista-produkt-page>
    </mat-tab>
</mat-tab-group>
<!--
<br>
  <mat-toolbar>
    <table style="width: 100%;text-align: center;table-layout: fixed;">
      <tr>
        <td>
          <span>My Application</span>
        </td>
        <td>
          <button color="primary" (click)="test = !test;">Testiraj</button>
        </td>
        <td>
          <button color="primary" (click)="test2 = !test2;">Testiraj2</button>
        </td>
      </tr>
    </table>
    
    
  </mat-toolbar>

  <div [hidden]="test">
    <app-lista-recenzija-page  [svrha]="'Musterija'">
        
    </app-lista-recenzija-page>
  </div>
  
  <div [hidden]="test2">
    <app-lista-racun-page  [svrha]="'Musterija'">

    </app-lista-racun-page>
  </div>
  -->
