<button type="button" mat-raised-button (click)="drawer.toggle()" color="accent">
    Toggle sidenav
  </button>
<mat-drawer-container  autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side">
      <p>Auto-resizing sidenav</p>
      
      <button  mat-raised-button>
        Toggle extra text
      </button>
    </mat-drawer>
  
    <div class="example-sidenav-content">
      <div>
        <app-tabela-dugmadi [listaProdukataMini]="lista"></app-tabela-dugmadi>
      </div>
      <div>
        <app-pagination [totalItems]="totalSize" [pageSize]="pageSize">
          (pageSelected)="changePage($event)"
        </app-pagination>
      </div>  
    </div>
  </mat-drawer-container>
