<button type="button" mat-raised-button (click)="drawer.toggle()" color="accent">
    Toggle sidenav
  </button>
<mat-drawer-container  style="height: 100vh;position: fixed;" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side" opened>
      <p style="font-size: 40px;">Pretraga</p>

      <mat-divider></mat-divider> <br>

      <form [formGroup]="filterForm" (ngSubmit)="filters()">
        Naziv produkta <br>
        <mat-form-field appearance="fill"  [style.height.px]=65>
          <input matInput class="form-control" formControlName = "naziv" required>
        </mat-form-field> 

        <br> <br><mat-divider></mat-divider> <br>

        Cena <br>Od
        <mat-form-field appearance="fill"  [style.height.px]=65>
          <input matInput class="form-control" formControlName = "od" required>
          <mat-error *ngIf="filterForm.controls.od.invalid">{{getErrorMessage(filterForm.controls.od)}}</mat-error>
        </mat-form-field> 
        <br>Do 
        <mat-form-field appearance="fill"  [style.height.px]=65>
          <input matInput class="form-control" formControlName = "do" required>
          <mat-error *ngIf="filterForm.controls.do.invalid">{{getErrorMessage(filterForm.controls.do)}}</mat-error>
        </mat-form-field>

        <br> <br><mat-divider></mat-divider> <br>

        Tipovi <br>
        <button mat-raised-button color="accent"  style="height: 60px;width: 250px;font-size: 15px;" (click)="open(tipoviProzor)">Tipovi</button>

        <br> <br><mat-divider></mat-divider> <br>

        Ocene<br>
        <button mat-raised-button color="accent"  style="height: 60px;width: 250px;font-size: 15px;" (click)="open(OcenaProzor)">Ocene</button>

        <br> <br><mat-divider></mat-divider> <br>

        Resetuj pretragu<br>
        <button mat-raised-button color="accent"  style="height: 60px;width: 250px;font-size: 15px;" (click)="resetuj()">Resetuj</button>
      </form>

    </mat-drawer>
  
    <div class="example-sidenav-content">
      <div>
        <app-tabela-dugmadi [listaProdukataMini]="lista"></app-tabela-dugmadi>
      </div>
      <div style="text-align: center;">
        <app-pagination [totalItems]="totalSize" [pageSize]="pageSize">
          (pageSelected)="changePage($event)"
        </app-pagination>
      </div>  
    </div>
</mat-drawer-container>

<ng-template #tipoviProzor let-modal>
  <div class="modal-header">
      <h4 class="modal-title" 
          id="modal-basic-title">
          Tipovi
      </h4>
      <button type="button" class="close"
              aria-label="Close" (click)=
              "modal.dismiss('Cross click')">

          <span aria-hidden="true">
              ×
          </span>
      </button>
  </div>
  <form [formGroup]="tipoviForm">
      <div class="modal-body">
              <div class="form-group">
                  <div class="input-group" formArrayName="tipovi">
                      <div *ngFor="let tip of tipovi.controls; let i=index">
                        <div  [formGroupName]="i">
                          <mat-checkbox formControlName="tip" color="accent">{{listaTipova[i]}}</mat-checkbox>
                        </div>
                      </div>
                  </div>
              </div>
      </div>
      <div [ngClass]="['modal-footer','form-group']">
      </div>
  </form>
</ng-template>

<ng-template #OcenaProzor let-modal>
  <div class="modal-header">
      <h4 class="modal-title" 
          id="modal-basic-title">
          Ocene
      </h4>
      <button type="button" class="close"
              aria-label="Close" (click)=
              "modal.dismiss('Cross click')">

          <span aria-hidden="true">
              ×
          </span>
      </button>
  </div>
  <form [formGroup]="ocenaForm">
      <div class="modal-body">
              <div class="form-group">
                  <div class="input-group" formArrayName="ocene">
                      <div *ngFor="let ocena of ocene.controls; let i=index">
                        <div  [formGroupName]="i">
                          <mat-checkbox formControlName="ocena" color="accent">{{listaOcena[i]}}</mat-checkbox>
                        </div>
                      </div>
                  </div>
              </div>
      </div>
      <div [ngClass]="['modal-footer','form-group']">
      </div>
  </form>
</ng-template>


