<form [formGroup]="produktForm" (ngSubmit)="create()" style="text-align: center;">
    <br>
    <label class="custom-file-upload">
        <input type="file" (change)="onFileChanged($event)" accept=".jpg,.jpeg,.png" />
        <i></i> Postavite sliku
    </label>
    <br><br>

    <mat-form-field appearance="outline">
        <mat-label>Unesite naziv produkta</mat-label>
        <input matInput class="form-control" formControlName = "naziv" required>
        <button type="button" matSuffix mat-icon-button aria-label="Clear" (click)="produktForm.controls.naziv.setValue('')">
          <mat-icon>close</mat-icon>
        </button>
        <mat-error *ngIf="produktForm.controls.naziv.invalid">{{getErrorMessage(produktForm.controls.naziv)}}</mat-error>
        <mat-hint>Naziv produkta</mat-hint>
    </mat-form-field>

    <div><br></div>

    <mat-form-field appearance="outline">
        <mat-label>Unesite deskripciju produkta</mat-label>
        <textarea matInput class="form-control" formControlName = "deskripcija" required></textarea>
        <button type="button" matSuffix mat-icon-button aria-label="Clear" (click)="produktForm.controls.deskripcija.setValue('')">
          <mat-icon>close</mat-icon>
        </button>
        <mat-error *ngIf="produktForm.controls.deskripcija.invalid">{{getErrorMessage(produktForm.controls.deskripcija)}}</mat-error>
        <mat-hint>Deskripcija produkta</mat-hint>
    </mat-form-field>

    <div><br></div>

    <mat-form-field appearance="outline">
        <mat-label>Unesite cenu produkta</mat-label>
        <input matInput class="form-control" formControlName = "cena" required>
        <button type="button" matSuffix mat-icon-button aria-label="Clear" (click)="produktForm.controls.cena.setValue('')">
          <mat-icon>close</mat-icon>
        </button>
        <mat-error *ngIf="produktForm.controls.cena.invalid">{{getErrorMessage(produktForm.controls.cena)}}</mat-error>
        <mat-hint>Cena produkta</mat-hint>
    </mat-form-field>

    <div><br></div>

    <button type="button" mat-raised-button color="accent" (click)="open(tipoviProzor)">Tipovi</button>

    <div><br></div>

    <button type="submit" [mtBasicSpinner]="status" [hideText]="status" mat-raised-button color="warn"
                [disabled]="produktForm.invalid">
                Napravi
            </button>
</form>

<ng-template #tipoviProzor let-modal>
    <div class="modal-header">
        <h4 class="modal-title" 
            id="modal-basic-title">
            Tipovi
        </h4>
        <button type="button" class="close"
                aria-label="Close" (click)=
                "modal.dismiss('Cross click')">
  
            <span aria-hidden="true">
                ×
            </span>
        </button>
    </div>
    <form [formGroup]="produktForm">
        <div class="modal-body">
                <div class="form-group">
                    <div class="input-group" formArrayName="tipovi">
                        <div *ngFor="let tip of tipovi.controls; let i=index">
                          <div  [formGroupName]="i">
                            <mat-checkbox formControlName="tip" color="accent">{{listaTipova[i].naziv}}</mat-checkbox>
                          </div>
                        </div>
                    </div>
                </div>
        </div>
        <div [ngClass]="['modal-footer','form-group']">
            <button (click)="modal.close('Save click')">Sačuvaj</button>
        </div>
    </form>
  </ng-template>